<h1>Metric: <%= @metric.name %></h1>
<table>
  <thead>
    <tr>
      <td>id</td>
      <td>Value</td>
      <td>Owner</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @metric_values.each do |metric_value| %>
      <tr>
        <td><%= metric_value.id %></td>
        <td><%= link_to metric_value.value, edit_metric_metrics_value_path(@metric.id, metric_value.id) %></td>
        <td><%= select_user_name(metric_value, @users) %></td>
        <td><%= link_to "edit", edit_metric_metrics_value_path(@metric.id, metric_value.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
