<%= form_tag(metric_metrics_value_path(params[:metric_id], params[:id]), method: :put) do |f| %>
  <div>
    <%= text_field_tag :value, @metric_value.value %> 
    <%= hidden_field_tag :owner, @metric_value.owner %>
    <%= hidden_field_tag :href, @metric_value.href %>
    <%= hidden_field_tag :metric, @metric_value.metric %>
    <%= hidden_field_tag :updated_at, @metric_value.updated_at %>
  </div>
  <div>
    <%= submit_tag 'Save' %>
  </div>
<% end %>

<%= @error %>
